page-zhaoling {
    .item-md{
        padding-left: 10px;
    }
    .title1{
        width: 15%;
        float: left;
        font-size: 2rem;
        font-weight: 500;
        color: #e4e4e4;
        padding-top: 6px;
     }
     .title{
        width: 70%;
        float: left;
        padding-top: 6px;
     }
}
