page-chongwuzhaoling {
    .title1{
        width: 15%;
        float: left;
        font-size: 2rem;
        font-weight: 500;
        color: #e4e4e4;
        padding-top: 6px;
    }
    .title{
        width: 70%;
        float: left;
        padding-top: 6px;
    }
    .l-textarea{
        position: relative;

        width: 359px;
        height: 150px;
    }
    .l-content{
        background-color: #f0edec
    }
    .span2{
        color: #8c8c8c
    }
    .choose-img{
        background-color: #f0edec;
        position: relative;
        top: 7px;
        height: 100px;
        width: 100px;
        float: left;
    }
    .camera{
        color: gray;
        position: relative;
        top: 21%;
        left: 41%;
    }
    .span3{
        position: relative;
        top: 51%;
        color: gray 
    }
    #test-div{
        float: left;
    }
    .item1{
        position: relative;
        top: 2%
    }
    .item2{
        position: relative;
        top: 25px
    }
    .item2 textarea{
        border: none
    }
    .item3{
        position: relative;
        top: 39px
    }
    .item3 textarea{
        border: none
    }
    .text{
        width: 328px
    }
    .item4{
        position: relative;
        top: 19px
    }
}
