page-home {
    .locate{
        position: relative;
        left: -34%;
    }
    .scanner{
        position: relative;
        left: 35%;
    }
    ion-navbar{
        height: 50px;
     
    }
    .slide1{
        height: 30%;
        width: 100%;
        padding: 0
    }
    .slide2{
        height: 30%;
        width: 100%;
        padding: 0;
        position: relative;
        top: 5%
    }
    ion-row ion-col{
        text-align: center;
        height: 100px;
        padding-top: 15px!important;
    }
    ion-row ion-col img{
        width: 40px;
    }
    ion-row ion-col p{
        position: relative;
        top: -8%
    }
    .item-md{
        padding-left: 0
    }
    .home-content{
        background-color: #f0edec
    }
    .home-grid{
        background-color: white;
        padding: 0;
    }
    .home-list1{
     top: 10px;
     height: 20px;
    }
    .home-list1 span{
        position: relative;
        left: 20px;
        top: -15px;
    }
    .home-list2{
        top: 21px;
        height: 20px;
    }
    .home-list2 span{
        position: relative;
        left: 20px;
        top: -15px
    }
    .list-div{
        height: 25px;
        position: relative;
        top: 8px;
        width: 10px;
        background-color: red
    }
    .slide2{
        background-color: #ffffff
    }
    .h-segment{
        background-color: #ffffff;
        position: relative;
        top: 4px
    }
    .h-div1{
        position: relative;
        top: 5px
    }
    .h-div2{
        position: relative;
        left: 5%;
        top: 5px;
        height:22px;
        width: 35px;
        background-color: green;
        color: #ffffff;
        font-size: 12px;
        text-align: center
    }
    .h-item1{
        height: 50px;
    }
    .h-icon{
        position: relative;
        top: 4px
    }
    // .label-md{
    //     margin: 0
    // }
    .h-span1{
        position: relative;
        left: 19%;
        top: -15px
    }
    .item-inner > ion-icon{
        font-size: 1.8rem
    }
}
