page-address {
.newadd{
    position: fixed;
    top: 90%;
    left: 0px;
    
}
.additem{
    height: 80px;
    padding:0px 5px 2px 5px;
    border-bottom:2px solid gainsboro;
}
.addname{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
}
.addphone{
    color: gray
}

.additem button{
    position: relative;
    left: 287px;
    top: -72px;
    width: 14px;
    height: 19px;
    font-size: 14px;
 
}
.dele{
    display:block;
    margin-top: 2px;
}
}
