page-submit {
    .content{
    }
    .footer{
        background-color: #ffffff;
        height: 50px;
    }
    .shopadd{
        position: relative;
        left: 182px;
        top: -74px;
    }
    .span1{
        position: relative;
        top: -60px;
        left: 10px;
    }
    .price{
        position: relative;
        left: 80px;
        top:-2px;
        color: red
    }
    .lab{
        position: relative;
        top: 26px
    }
    .item1{
        height: 70px;
        background-color:  #f9f9f9
    }
    .item1 img{
        height: 50px;
        width: 50px;
        position: relative;
        top: 19px
    }
    .span2{
        position: relative;
        left: 5px;
    }
    .span3{
        position: relative;
        left: 40%;
    }
    .span4{
        position: relative;
        left: 42%;
        color: red
    }
    .footer .label-md{
        margin: 0
    }
    .item-radio-checked.item-md ion-label{
        color:black
    }
    .jiesuan{
        text-align: center;
        position: relative;
        background:linear-gradient(to right, #ff7500, #ff6300, #ff4d01);
        left: 80%;
        top: -44px;
        width: 71px;
        height: 50px;
    }
    .jiesuan span{
        position: relative;
        top: 32%;
        color: #ffffff;
        font-weight: 600
    }
    .checkbox-md .checkbox-checked{
        border-color: #ff4d01;
        background-color: #ff4d01
    }
    .footer .item.item-md .checkbox-md{
        margin: 0
    }
    .subinfo{
        display: inline-block;
        margin-left: 180px;
        font-size: 12px;
        color: rgb(131, 122, 122);
    }
    .f-span1{
        position: relative;
        left: 10%;
        top: -16px
    }
    .f-span2{
        position: relative;
        left: 90%;
        top: -22px
    }
    .f-span3{
        position: relative;
        top: -3px
    }
    .f-div3{
        position: relative;
        left: 72%;
        top: -12px
    }
    .f-list{
        position: relative;
        top: 1px
    }
    .fangfa{
        float: right;
    }
    .f-span5{
        position: relative;
        top: 11px
    }
    .f-span4{
        position: relative;
        top: 4px
    }
    .item3{
        height: 50px;
    }
    .item-md{
        padding-left: 0
    }
    .til{
        position: absolute;
        left: 36%;
        top: 25%
    }
    .icon1{
        position: absolute;
        left: 3%;
        top:34%
    }
}
